body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.calculator {
    width: 320px;
    border-radius: 24px;
    overflow: hidden;
}
.calculator-screen {
    background: #f0f0f3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.calculator-screen .history {
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.3;
    font-size: 20px;
    color: grey;
}
.calculator-screen .output {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}

.calculator-keys {
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: #f0f0f3;
}

.symbols,
.number,
.numbers,
.digits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.last-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
.number button,
.numbers button,
.digits button,
.last-row button,
.item-1 {
    background: #e0e0e0;
    border: none;
    border-radius: 20px;
    font-size: 26px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 7px 7px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 16px -18px inset;
}

.number button:active {
    box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.1), inset -3px -3px 7px #ffffff;
}

.symbols button {
    background: #eae7e7;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(60, 60, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 28px 46px -18px inset;
    font-size: 26px;
    padding: 20px;
    text-align: center;
    cursor: pointer;

}

.symbols button:active,
.numbers button:active,
.digits button:active,
.last-row button:active,
.item-1 button:active {
    box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.1), inset -3px -3px 7px #ffffff;
}

.operator button {
    background-color: rgb(255, 106, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: #fff;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    width: 60px;
}

.symbols.operator:active,
.number.operator:active,
.numbers.operator:active,
.digits.operator:active,
.last-row.operator:active {
    box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.1), inset -3px -3px 7px #f9a825;
}

.item-1 {
    grid-column: span 2;
}

#Myinput {
    height: 40px;
    width: 280px;
    border-radius: 12px;
    border: 3px solid black;
}