.main-square{height:413px;
width:67%;
margin:17px;
border:4px solid;
position:relative;
}

.absolute{
    position:absolute;
}

.top{
    top:0;
}
.left{
    left:0
}
.right{
    right:0;
}
.red{
    width:150px;
    height:250px;
    border:3px solid red
}
.green{
    width:500px;
    height:80px;
    border:3px solid green;
    left:155px;

}
.center{
    top:25px;
    left:470px;
}
.bottom{
    bottom:5px;
}

.blue {
   
    
    width:100px;
    height:90px;
    border:3px solid blue
}
.a{
    right:7px;
   }
.b{
    right:150px;
}
.c{
    top:160px;
    left:170px;
}
.d{
    top:5px;
    left:680px;
}
.e{
    left:120px;
    top:280px;

}
.f{
    top:295px;
    left:68px;
}
.g{
    left:13px;
    top:315px;
}


