.flex-container {
    background-color: #002f6c;
    height: 590px;
    width: 50%;
    
  
    color:white;
    
    
    
    
}
.atm-header{
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.right-heading{
    font-size: 24px;
    font-family:fantasy;
    font-size: 30px;
    margin-left: 10px;
    padding: 20px;
    
    
}
.left-heading{
    padding:10px;
}
.account-info{
    display:flex;
    flex:3;

}
.content-left{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    height:200px;
    
    padding:30px;
    margin-top: 30px;

    

}
.left-item{
    display: flex;
    flex-direction: column;
    
   
}
.main-heading{
    color:lightskyblue;
}
.sub-heading{
    font-weight: bolder;
    font-size: larger;
}
.content-right{
    display:flex;
    flex:2;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: space-around;
    padding:10px;
    
    
    
    
}
.content-right > button{
    
    width:220px;
    height:70px;
    background-color:#00BFFF;
    color:white;
    font-size:large;
    cursor:pointer;
}
.content-right > button:hover{
    
    transform: scale(0.9); 
    background-color:#32c5f6;

}

    
   
    
    
    


.sixth-button{
    opacity: 0.5;
    cursor: not-allowed;
    
}
.seventh-button{
    display:flex;
    flex:1;
    
    
    margin: 20px;
    align-items: center;
    
    justify-content: space-around;
    
    width:450px;
height:50px;
background-color:#DC143C;
margin-left: 300px;
cursor:pointer;
color:white;
font-size:18px;





    
   
}


